.content {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	height: 100%;
	flex: auto;
	flex-direction: column;
}

.title {
	padding-bottom: 50px;
}
button.largebutton {
    border-radius: 500px;
    padding: 13px;
    min-width: 130px;

    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;

}
