<table *ngIf="playlists">
	<thead>
		<tr>
			<td></td>
			<td>Titolo</td	>
			<td>Pubblica</td>
			<td>Numero Brani</td>
		</tr>
	</thead>
	<tr *ngFor="let item of playlists.items">
		<td><img src="{{getImage(item)}}" width="80px;" (click)="goPlaylist(item)"/></td>
		<td>{{item.name}}</td>
		<td>{{item.public?'Sì':'No'}}</td>
		<td>{{item.tracks?.total}}</td>
	</tr>
</table>

<ul class="pagination" *ngIf="playlists">
	<li [class.disabled]="page==1"><a (click)="goPagePrevious()"><i class="material-icons">chevron_left</i></a></li>
	<li class="waves-effect"><a (click)="goPage(firstlink)">{{firstlink}}</a></li>
	<li class="waves-effect"><a (click)="goPage(firstlink + 1)">{{firstlink + 1}}</a></li>
	<li class="waves-effect"><a (click)="goPage(firstlink + 2)">{{firstlink + 2}}</a></li>
	<li class="waves-effect"><a (click)="goPage(firstlink + 3)">{{firstlink + 3}}</a></li>
	<li class="waves-effect"><a (click)="goPage(firstlink + 4)">{{firstlink + 4}}</a></li>
	<li class="waves-effect"><a (click)="goPageNext()"><i class="material-icons">chevron_right</i></a></li>
</ul>