<div class="fill-remaining-space"></div>
<div class="imagecontainer" *ngIf="playlists">
		<div class="leftbutton" >
				<button mat-icon-button color="primary" (click)="previous()">
					<mat-icon aria-label="next playlst">keyboard_arrow_left</mat-icon>
				</button>
			</div>
			<div class="centerimage" (click)="goPlaylist()">
		<div class="imagetitle title" >
			Select the playlist
		</div>
		<div class="imagecover" [style.background-image]="getCurrentImage()" >
		</div>
		<div class="imagetext" >
			{{playlists.items[index].name}}
		</div>
	</div>
	<div class="rightbutton" >
		<button mat-icon-button color="primary" (click)="next()">
			<mat-icon aria-label="next playlst">keyboard_arrow_right</mat-icon>
		</button>
	</div>
</div>
<div class="fill-remaining-space"></div>
