.main {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.main-header {

}
.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100%;
}
.main-footer {
}

.page-footer {
	position: relative;
}

