.main {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.main-header {

}
.main-content {
	display: flex;
	flex: 2 auto;
	align-items: center;
	justify-content: center;
}
.main-footer {
}

.page-footer {
	position: relative;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}