<div class="container main">
	<div class="main-header">
		<div class="row ">
			<div class="col s12">
				<a href="/home" class="brand-logo">Cover me</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="about.html">About</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-content">
		<router-outlet></router-outlet>
	</div>

	<div class="main-footer">
		<div class="row">
			<div class="col s12">
				© Copyright 2018 - Sergio Davini
				<a class="grey-text text-lighten-4 right" href="#!">Spotify</a>
			</div>
		</div>
	</div>
</div>